<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1><%= @user.name %>さん タスクが削除されました</h1>
    <p>【タスク名】<%= @task.name %><br /></p>
    <p>【タスク詳細】<%= @task.description %><br /></p>
    <br />
    <p>おつかれさまでした！☺️</p>
  </body>
</html>
